process {
    withLabel:mbull {
    container = 'mbull/bioinformatics-containers:phenix'
  }
    
}

process prepareReference {
    // Process-specific configurations, if any
    
}

process runSNPPipeline {
    // Process-specific configurations, if any
}

process convertVCFtoFASTA {
    // Process-specific configurations, if any
}

docker {
	enabled = true
  docker.runOptions = '-u $(id -u):$(id -g)'
}