params {
    root_dir = "/home/bkutambe/data/miseq_runs/Fastq"
    ref = "/home/bkutambe/salmonella/references/2022.11.29/AE006468.2.fasta"
    phenix_config = "/home/bkutambe/salmonella/references/2022.11.29/phenix_config.yml"
    output_dir_name = "phenix_bbduk"
}

process {
    withLabel:mbull {
    container = 'mbull/bioinformatics-containers:phenix'
  }
    
}

process prepareReference {
    // Process-specific configurations, if any
    
}

process runSNPPipeline {
    // Process-specific configurations, if any
}

process convertVCFtoFASTA {
    // Process-specific configurations, if any
}

docker {
	enabled = true
  docker.runOptions = '-u $(id -u):$(id -g)'
}